/* You can add global styles to this file, and also import other style files */
.footer-botoes {
    padding: 10px 20px 20px 20px;
    background-color: #ececec;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 55px;
}

.pick-selection {
    width: 100% !important;
}